# Dependencies
node_modules/
bun.lockb
bun.lock

# Build Outputs
dist/
*.vsix
*.exe
*.grpx
*.grx2

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Temporary
.tmp/
tmp/
temp/
*.tmp

# Environment
.env
.env.*
.claude/
CLAUDE.md
.specify
specs/

**/.next/**
**/out/**
**/cache/webpack*
**/static/chunks/**
